

<div>

    <breadcrumb text1="Dashboard" route1="/"></breadcrumb>
    <br />

    <table class="grid-table table table-bordered table-condensed">
        <tr class="info">
            <th>Initial Investment</th>
            <th>Lowerbound Discount Rate</th>
            <th>Upperbound Discount Rate</th>
            <th>Discount Rate Increment</th>
            <th>Cash Flow</th>
            <th>Request Date</th>
            <th></th>
        </tr>
        <tr v-for="npvRequest in calculateNPVRequests">
            <td>
                <a href="javascript:;" @click="viewCalculateRequest(npvRequest.Id)" class="InitialInvestment">
                    {{ npvRequest.InitialInvestment | money(2) }}
                </a>
            </td>
            <td v-no-wrap>
                <span class="LowerBoundDiscountRate">
                    {{ npvRequest.LowerBoundDiscountRate | percentage(4) }}
                </span>
            </td>
            <td v-no-wrap>
                <span class="UpperBoundDiscountRate">
                    {{ npvRequest.UpperBoundDiscountRate | percentage(4) }}
                </span>
            </td>
            <td v-no-wrap>
                <span class="DiscountRateIncrement">
                    {{ npvRequest.DiscountRateIncrement | percentage(4) }}
                </span>
            </td>
            <td v-no-wrap>
                <span class="CashFlowValues" v-html="npvRequest.CashFlowValues"></span>
            </td>
            <td v-normal-wrap v-center>
                <span class="CreateDate">{{npvRequest.CreateDate | shortDateTimeWithSeconds}}</span>
            </td>
            <td v-center>
                <a href="javascript:;" @click="viewCalculateRequest(npvRequest.Id)">
                    View Computed NPVs
                </a>
            </td>
        </tr>
    </table>

    <div>
        <button class="btn btn-sm btn-primary"
                @click="goToCalculate()">
            New Calculate
        </button>
    </div>

</div>
